@media (min-width: 576px) {
  iframe {
    width: 500px;
    height: 300px;
  }
}

@media (min-width: 768px) {
  iframe {
    width: 600px;
    height: 300px;
  }
}

@media (min-width: 992px) {
  iframe {
    width: 900px;
    height: 400px;
  }
}

@media (min-width: 1200px) {
  iframe {
    width: 900px;
    height: 400px;
  }
}

@media (min-width: 1400px) {
  iframe {
    width: 900px;
    height: 400px;
  }
}

main {
  background-color: rgb(46, 49, 146);
}
.blabla {
  padding-bottom: 50px;
}
.header-img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}
.a-color a {
  text-decoration: none;
  color: rgb(245, 153, 242);
  transition: 0.5s;
}
.a-color a:hover {
  text-decoration: none;
  color: rgb(245, 69, 239);
}
.info {
  color: wheat;
  text-align: center;
  padding: 50px 0px 50px 0px;
}
.info-header {
  color: rgb(240, 154, 237);
}
.line {
  border-color: rgba(238, 128, 242, 0.258);
  border-width: 4px;
  border-style: none none solid none;
  margin-top: 0;
  margin-left: 9%;
  margin-right: 9%;
}
.lvl {
  padding: 50px;
}
.btn-img {
  margin-top: 15px;
  padding: 0px;
  border: 0px;
}
.right-col {
  display: flex;
  align-items: center;
}
.col-text {
  font-size: 25px;
}
.side-right {
  text-align: left;
 }
.side-left {
  text-align: right;
  }
